body{
	padding-top: 70px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
.wrapper{
	padding-top: 130px;
}
.symbol{
	transition: 0.1s ease-in-out;
	font-size: 56pt;
	cursor: pointer;
	text-align: center;
}
.symbol-image{
	
}
.letters{
	display:inline-block;
}
.fixed-top{
	z-index: 101;
	position: fixed;
	width: 100%;
	top:64px;
	padding-top: 5px;
	left: 0;
	background: rgba(255,255,255,0.95);
	box-shadow: 0 0 3px 3px #888;
}
.word{
	font-size:36pt;
	text-align: center;
}
.letter{
	font-size:36pt;
	text-align: center;
}
.letter_img{
	border: 2px solid;
	border-radius: 5px;
	background: white;
	color : white;
}
.correct{
	height:50px;
	text-align:center;
	font-size:40px;
}
.bnt-center{
	display: flex;
	justify-content: center;
	
}
.jumbotron{
	text-align: center;	
}
.logo{
	width: 256px;
	height: auto;
}
.word-user span{
}
.word-user{
	height: 112px;
}
.text-center{
	text-align: center;
	margin: auto;
}
h1{
	text-align: center;
}
.thumbnail{
	font-size: 1.5em;
	padding:50px 0;
}
.symbol:active{
	opacity: 0.5;
}
.letter-preview{
	position: relative;
}
.letter-preview>span{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 23pt;
	text-transform: uppercase;
	z-index: 10;
}
.btn{
	margin: 5px;
}




.navLinks {
	margin: 3px auto;
}


.navLinks:hover {
	margin: 2px -1px;
	border: 1px solid black;
	/*background-color: #ffa;*/
}



.descrDiv {
	margin: 30px 0;
	cursor: default;
}

.manualBoxes:hover {
	cursor: pointer;
	background-color: #ffa;
}


em {
	text-decoration: none;
	font-style: normal;
	
}

.addedLetters {
	letter-spacing: 5px;
	font-weight: bold;
}


.levelLabels {
	font-size: 2.5em;
}










