.symbol{
	transition: 0.1s ease-in;
	font-size: 56pt;
	cursor: pointer;
	text-align: center;
}
.symbol-image{
	
}
.letters{
	display:inline-block;
}
.word{
	font-size:36pt;
	text-align: center;
}
.letter{
	font-size:36pt;
	text-align: center;
}
.correct{
	height:50px;
	text-align:center;
	font-size:40px;
}
.bnt-center{
	display: flex;
	justify-content: center;
	
}
.jumbotron{
	text-align: center;	
}
.letter_img{
	max-height: 150px;

}
.logo{
	width: 256px;
	height: auto;
}
.word-user span{
}
.word-user{
	height: 112px;
}
.text-center{
	text-align: center;
	margin: auto;
}
h1{
	text-align: center;
}
.thumbnail{
	font-size: 1.5em;
	padding:50px 0;
}
.symbol:active{
	opacity: 0.5;
}
#menu.default {
    width:920px;
}
#menu.fixed {
    position:fixed;
    top:0; left:0;
    width:100%;
}