<div >
    <h1>All Levels</h1>
    <h2>Алфавит</h2>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail" ng-click="setLevel(1)">Уровень 1<br>аесворншщ</a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail" ng-click="setLevel(2)">Уровень 2<br>+бздцякийыу</a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail" ng-click="setLevel(3)">Уровень 3<br>+гплмтжчфю</a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail" ng-click="setLevel(4)">Уровень 4<br>Весь алфавит</a>
</div>
	
