<div class="descrDiv">
    <h3 class="text-center">Все уровни</h3>
    <h4 class="text-center">Алфавит</h4>
</div>
<div class="labelsDiv">
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail manualBoxes" ng-click="setLevel(1)"><em class="levelLabels">Уровень 1</em><br>первые буквы<br><em class="addedLetters">аесворншщ</em></a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail manualBoxes" ng-click="setLevel(2)"><em class="levelLabels">Уровень 2</em><br>добавляем<br><em class="addedLetters">бздцякийыу</em></a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail manualBoxes" ng-click="setLevel(3)"><em class="levelLabels">Уровень 3</em><br>добавляем<br><em class="addedLetters">гплмтжчфю</em></a>
    <p>
    <a href="/level_prev" type="button" class="col-md-3 col-xs-6 text-center thumbnail manualBoxes" ng-click="setLevel(4)"><em class="levelLabels">Уровень 4</em><br>используем<br>весь алфавит</a>
</div>
	
